{% extends base %}
{% block preamble %}

{% endblock %}

{% block contents %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{ bokeh_css }}
    {{ bokeh_js }}
    <style type="text/css">{% include 'styles.css' %}</style>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>spaTScope</title>
    <style>
      #main{
        display: block;
        height: 98vh;
        width: 99vw;
      }
      #timeline{
        width: 27.5%;
        height: 100%;
        overflow: scroll;
        float: left;
        display: inline-block;
      }
      #map_div{
        width: 72.5%;
        height: 100%;
        float: right;
        display: inline-block;
      }
    </style>
  </head>
  <body>

  <div id="main">
    <div id="timeline">
        {{ embed(roots.ts_plots) | safe }}
    </div>
    <div id="map_div">
        {{ embed(roots.map_div) | safe }}
    </div>
  </div>

</body>
</html>

{% endblock %}