{% extends base %}
{% block preamble %}

{% endblock %}

{% block contents %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>spaTScope</title>
  </head>
  <body>

  <div style="display: block">
    <div style="overflow:scroll; height:98vh; float:left; display: inline-block;">
        {{ embed(roots.ts_plots) | safe }}
    </div>
    <div style="height:98vh; width:73vw; float:right; display: inline-block;">
        {{ embed(roots.map) | safe }}
    </div>
  </div>

</body>
</html>

{% endblock %}